<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="cruiseconn" value="Server=.;Database=cjhjyl;User Id=sa;Password=123456;" />
    <add key="mysqlconn" value="Server=47.110.37.61;Port=3306;Database=cjhjyl;Uid=hjyl;Pwd=TangYong,./3735;" />
    <add key="localconn" value="Server=.;Database=pushdata;User Id=sa;Password=123456;"/>
    <add key="accconn" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pushdata.accdb;Persist Security Info=False;"/>
  </appSettings>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler" />
    <add key="quartz.threadPool.threadCount" value="20" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
    <add key="quartz.plugin.xml.scanInterval" value="5" />
  </quartz>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
